#fondo {
    background-image: url(https://media-exp1.licdn.com/dms/image/C4D1BAQFXjwKh5HfSWQ/company-background_10000/0/1646151332740?e=2147483647&v=beta&t=V2BPYVGuDVT2cpvRLXx0aeDDvaxJoDLf3da1eCjMhGU);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#fondo:before {
    content: "";
    padding: 500px 500px;
    position: absolute;
    z-index: -1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
